## 2 задача
На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе при помощи использования kwargs

In [2]:
def fruits(**kwargs):
   total = 0
   for count in kwargs.values():
        total += count
   return total

In [3]:
print(fruits(apples=10, oranges=20, bananas=5))

35

## 3 задача
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты  
``` [100, 125, -90, 345, 655, -1, 0, 200] ```  
Используйте list comprehensions

In [4]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
expenses = [i for i in expenses if i >= 0]
total_expenses = sum(expenses)
print(total_expenses)

1425

## 4 задача
Даны два списка.  
Дата покупки  
``` ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09'] ```  
Суммы покупок по датам    
``` [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887] ```

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [6]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', 
         '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', 
         '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', 
         '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
purchases = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275,
             4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

november_purchases = [purchase for i, purchase in enumerate(purchases) if dates[i].startswith('2021-11')]
total_november_revenue = sum(november_purchases)

print(total_november_revenue)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [7]:
from datetime import datetime
from typing import List, Dict

def revenue_by_month(dates: List[str], revenue: List[int]) -> Dict[str, int]:
    revenue_by_month = {}
    for date, amount in zip(dates, revenue):
        month = datetime.strptime(date, '%Y-%m-%d').strftime('%Y-%m')
        if month in revenue_by_month:
            revenue_by_month[month] += amount
        else:
            revenue_by_month[month] = amount
    return revenue_by_month

In [8]:
result = revenue_by_month(dates, purchases)
print(result)

{'2021-09': 25647, '2021-12': 45452, '2021-10': 28645, '2021-11': 25098}